- title t('.news')

.page-header
  %h1= t('.news')
.row
  .news.span8
    %ul#carousel.jcarousel-skin-tango
      - @news.each do |news|
        %li.span3
          %p= image_tag news.image
          %p.muted= l news.published_at, format: :day_dot_month_dot_year
          %p!= news.body
  .span3.offset1
    = render 'twitter'
