.menu
  %ul
    %li
      = link_to '#page1' do
        != t('.news')
    %li
      = link_to '#page2' do
        != t('.info')
    %li
      = link_to '#page3' do
        != t('.registration')
    %li
      = link_to '#page4' do
        != t('.questions')
    %li
      = link_to '#page5' do
        != t('.organizators')
