.page-header
  -#= link_to new_admin_user_path, class: 'btn btn-success pull-right' do
    %i.icon-plus
    = t('.new')
  %h1
    = t('.users')

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :name
      %th= sort_link @q, :email
      %th= sort_link @q, :phone
      %th= sort_link @q, :age
      %th= sort_link @q, :company
      %th= sort_link @q, :university
      %th= sort_link @q, :course_name
      %th= sort_link @q, :excursio
      %th= sort_link @q, :subscribe
      %th= sort_link @q, :process_personal_data

  %tbody
  - @users.each do |user|
    %tr
      %td= user
      -#  = link_to user, edit_admin_user_path(user)
      %td= user.email
      %td= user.phone
      %td= user.age
      %td= user.company
      %td= user.university
      %td= user.course
      %td= user.excursio
      %td= user.subscribe
      %td= user.process_personal_data
      %td
        .pull-right
          -#= link_to edit_admin_user_path(user), class: 'btn btn-mini btn-primary' do
            %i.icon-pencil
          &nbsp;
          = link_to admin_user_path(user), data: { confirm: t('.delete_confirm') }, method: :delete,
            class: 'btn btn-mini btn-danger' do
            %i.icon-trash

.pagination.pull-right
  = paginate @users

