= simple_form_for @user, url: url do |f|
  .row
    .span6
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :phone
    .span6
      = f.input :company
      = f.input :university
      = f.input :course
  .form-actions
    = f.button :submit, t('.register'), class: 'btn btn-primary btn-large'
