= simple_form_for @member, url: url do |f|
  .fields
    = f.input :first_name, label: false, wrapper_html: { class: 'w2' }
    = f.input :last_name, label: false, wrapper_html: { class: 'w2 l' }
    = f.input :email, label: false, wrapper_html: { class: 'w2' }
    = f.input :phone, label: false, wrapper_html: { class: 'w2 l' }
    = f.input :age, as: :string, label: false, wrapper_html: { class: 'w2' }
    = f.input :company, label: false, wrapper_html: { class: 'w2 l' }
    = f.input :university, label: false, wrapper_html: { class: 'w2' }
    = f.association :course, prompt: t('.course'), label: false, wrapper_html: { class: 'w2 l' }

  .w3= t('.required_fields')

  = f.input :excursio, label: false, inline_label: t('.excursio'), wrapper_html: { class: 'w2 c' }
  = f.input :process_personal_data, label: false, inline_label: t('.process_personal_data'), wrapper_html: { class: 'w2 c' }
  = f.input :subscribe, label: false, inline_label: t('.subscribe'), wrapper_html: { class: 'w2 c' }

  .w2.c.btn
    %input{type: :image, src: '/assets/btn_igo.png'}
